.home{
    background-color: #F1F3FF;
    height: 100%;
}
.navigasi{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
#btn-register{
    background-color: #5CB85F;
    border-style: none;
}




.hal-2{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.tulisan{
    width: 90%;
    padding: 5rem;
}
.tulisan p{
    padding-right: 4rem;
}
.gambar{
    width: 48%;
    margin-top: -5%;
}
.background{
    width:35rem;
    padding-top: 9rem;
}

.Footer{
    padding-top: 7rem;
    padding-bottom: 5rem;
    padding-left:5rem;
}